@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    background-color: #292D32;
}
header{
    position: absolute;
    width: 100%;
    height: 66px;
    background: linear-gradient(315deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0) 100%), #292D32;
    background-blend-mode: soft-light, normal;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1;
}
.logo{
    position: absolute;
    top: 15px;
    left: 50px;
    cursor: pointer;
}
ul{
    margin-left: 140px;
    padding: 10px;
}
ul li{
    display: inline;
    list-style: none;
}
ul li a{
    position: relative;
    top: -5px;
    color: #D7D7D7;
    text-decoration: none;
    padding-left: 70px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
button{
    position: relative;
    float: right;
    top: -55px;
    right: 50px;
    width: 150px;
    height: 28px;
    background: #292D32;
    mix-blend-mode: normal;
    box-shadow: -2px -2px 8px #474C54, 2px 2px 8px #17191C;
    border-radius: 12px;
    color: #D7D7D7;
    cursor: pointer;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

/* conten */
section{
    /* position: absolute; */
    display: flex;
    align-items: center;
    /* margin-top: 100px; */
    margin: 50px 80px;
}
.col1{
    padding-right: 30px;
    width: 50%;
}
.col1, h2{
    color: #D7D7D7;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    /* or 133% */
    letter-spacing: 0.08em;
}
.col1, p{
    color: #D7D7D7;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.col2{
    position: relative;
    float: right;
    /* text-align: center; */
}
.col2 img{
    width: 500px;
    height: 500px;
    left: 730px;
    top: 72px;
}
.conten{
    margin-top: 40px;
    width: 400px;
    height: 425px;
    left: 0px;
    top: 0px;
    background: #292D32;
    box-shadow: -8px -8px 10px #30343A, 8px 8px 10px #24262C;
    border-radius: 12px;
    padding: 20px;
}
img.sinau{
    width: 100px;
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50px; */
}
.form-control{
    margin-top: 20px;
}
label{
    position: static;
    left: 0;
    top: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #D7D7D7;
    letter-spacing: 0.04em;
}

input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 20px;
    position: static;
    width: 350px;
    height: 20px;
    left: 0px;
    top: 22px;
    background: #292D32;
    box-shadow: inset -8px -8px 10px #30343A, inset 8px 8px 10px #24262C;
    border-radius: 8px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;
    color: #D7D7D7;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

/* footer */
footer{
    position: absolute;
    width: 100%;
    height: 66px;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(315deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.6) 100%), #292D32;
    background-blend-mode: soft-light, normal;
}
footer p.kiri{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: lect;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #D7D7D7;

}
footer p.kanan{
    position: relative;
    float: right;
    top: -47px;
    right: 50px;
    padding-right: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    padding-top: 5px;
    text-align: lect;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #D7D7D7;
}
img.twitter{
    position: relative;
    float: right;
    top: -30px;
    right: -20px;
    border: 2px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 50px;
    width: 20px;
}
button.login{
    position: absolute;
    width: 395px;
    height: 40px;
    left: 20px;
    top: 430px;
    background: #292D32;
    box-shadow: -8px -8px 10px #30343A, 8px 8px 10px #24262C;
    border-radius: 8px;
    color: #D7D7D7;
    text-transform: uppercase;

}